// Header container
header {
  padding: var(--s3) 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// Header Logo
#header--logo {
  min-width: 30ch;
  max-width: 40ch;
}