header {
  padding: var(--s3) 0;
  display: flex;
  justify-content: space-between;
  // align-content: center;
}
#header--logo {
  width: 25ch;
}
#header--logo a {
  width: 100%;
}
@media (max-width: 60em) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  #header--logo {
    margin: 0 auto;
    width: 100%;
    min-width: 15ch;
    max-width: 28ch;
  }
}

