#header--nav ul {
  padding-inline-start: 0;
  // display: flex;
  // justify-content: space-between;
}
#header--nav ul li {
  display: inline-block;
  padding: 0 var(--s-4);
  &:last-child {
    margin-right: 0;
  }
}
#header--nav ul li a {
  font-size: var(--s1);
  text-decoration: none;
  color: var(--black);
  border-bottom: 3px solid var(--blue-primary);
  &:hover {
    border-bottom: 3px solid var(--pink-primary);
  }
}

#header--nav ul li a[data-state="active"] {
  border-bottom: 3px solid var(--pink-primary);
}

@media (max-width: 60em) {
  .header {
    color: grey;
  }
  #header--nav {
    margin: 0 auto;
    text-align: center;
    & ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-block-start: 0;
      margin-block-end: 0;
      li {
        // padding: 0 var(--s-4);
        & a {
          font-size: clamp(var(--s-1), 5vw, var(--s1));
        }
      }
    }
  }
}


