#services, #works {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  & div:nth-child(2) {
    & .section--heading {
      background: var(--green-light);
    }
  }
  & div:nth-child(3n) {
    & .section--heading {
      background: var(--blue-light);
    }
  }
  & div:nth-child(4n) {
    & .section--heading {
      background: var(--grey-light);
    }
  }
}

.service {
  margin-bottom: var(--s2);
  & ul li {
    line-height: 2;
  }
}
