.full-bleed {
  width: 100%;
  grid-column: 1 / -1;
}

// 65ch width
.sixtyfive-full {
  width: min(65ch,100%);
}
.sixtyfive-ninety {
  width: min(65ch,90%);
  margin: 0 auto;
}

// line break
.break {
  // height: 0;
  border: 1px solid var(--black);
  background: var(--black);
}

// Text
// Smaller 
.smaller {
  font-size: var(--s0);
}

// sans-serif
.sans-serif {
  font-family: "Lato", sans-serif;
}

// Colors
  .txt-grey-primary {
    color: var(--grey-primary);
  }
  .txt-grey-light {
    color: var(--grey-light);
  }
  .txt-pink-primary {
    color: var(--pink-primary);
  }
  .txt-blue-primary {
    color: var(--blue-primary);
  }
  