body,
html {
  font-family: "Lato", sans-serif;
  font-size: var(--s1);
  color: var(--forest-black);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One";
  line-height: 1.25;
  letter-spacing: 1px;
}
h1 {
  font-size: var(--s5);
  font-size: clamp(var(--s3), 10vw, var(--s5));
}
h2 {
  font-size: clamp(var(--s2), 8vw, var(--s4));
}
h3 {
  font-size: var(--s3);
}
h4 {
  font-size: var(--s2);
}
.lead {
  font-size: var(--s1);
}
p {
  margin-bottom: var(--s-2);
}
p,
ul,
li {
  font-size: clamp(var(--s0), 5vw, var(--s1));
  line-height: 1.5;
}

ul {
  list-style: square;
}

a {
  color: var(--black);
  text-decoration-color: var(--green-primary);
}
