{% extends "layouts/base.html" %} 

{% block content %}
  <article id="about--container">
    <div id="about--img-container">
      <img id="about--img" src="{{ page.person.image }}" alt="{{ page.person.imagealt }}" />
    </div>
    <div id="about--text">
      <h2>
        {{ page.person.name }}
        <p class="smaller txt-pink-primary">
          {{ page.person.position }}
        </p>
      </h2>
      <p class="[ smaller ] txt-grey-primary">
        {{ page.person.about }}
      </p>
    </div>
  </article>
{% endblock %}