{% extends "layouts/base.html" %} 

{% block content %}
  {% include "partials/page-blurb.html" %}
  <h2>
    {{ page.recent }}
  </h2>
  <ul>
    {% for project in projects %}
    <li>
      <h3>
        {{project.name}}
      </h3>
      <span>
        {{ project.blurb }}
      </span>
      <img src="{{project.image}}" alt="{{project.imagealt}}" />
    </li>
    {% endfor %}
  </ul>

  <h2>
    {{page.clients}}
  </h2>
  <ul>
    {% for client in clients %}
    <li>
      {{ client }}
    </li>
    {% endfor %}
  </ul>
{% endblock %}