{% extends "layouts/base.html" %} 

{% block content %}
  <section id="works">
    <div class="work">
      <div class="section--heading">
        <h2>
          {{ page.recent }}
        </h2>
      </div>
      <ul>
        {% for project in projects %}
        <li>
          <h4>
            {{project.name}}
          </h4>
          <span class="smaller txt-grey-primary">
            {{ project.blurb }}
          </span>
          <div class="work--image-container">
            <img src="{{project.image}}" alt="{{project.imagealt}}" />
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="work">
      <div class="section--heading">
        <h2>
          {{page.clients}}
        </h2>
      </div>
      <ul id="clients">
        {% for client in clients %}
        <li>
          {{ client }}
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}