#full-width-container {
  width: 100%;
  min-width: 100%;
  display: grid;
  grid-template-rows: 60vh 40vh;
}
#main--container {
  display: grid;
  grid-template-rows: auto 1fr;
}
#full-width-main--container {
  display: grid;
  place-items: center;
}

#intro--container {
  text-align: center;
}
