<div id="scenery">
  <div id="trees">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <path
        id="Polygon_4"
        data-name="Polygon 4"
        d="M200,0,400,400H0Z"
        fill="#8CC7A6"
        opacity="1"
      />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <path
        id="Polygon_6"
        data-name="Polygon 6"
        d="M200,0,400,400H0Z"
        fill="#058a41"
        opacity="1"
      />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
      <path
        id="Polygon_4"
        data-name="Polygon 4"
        d="M200,0,400,400H0Z"
        fill="#8CC7A6"
        opacity="1"
      />
    </svg>
  </div>
  <div id="sun--container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 753 747">
      <ellipse
        id="Ellipse_1"
        data-name="Ellipse 1"
        cx="376.5"
        cy="373.5"
        rx="376.5"
        ry="373.5"
        fill="#F1A2B4"
        opacity="1"
      />
    </svg>
  </div>
</div>
