<div id="scenery">
  <div id="trees">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" role="img">
      <title>A light green tree</title>
      <path
        id="lgt-left"
        data-name="lgt-left"
        d="M200,0,400,400H0Z"
        fill="#8CC7A6"
        opacity="1"
      />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" role="img">
      <title>A dark green tree</title>
      <path
        id="dgt-mid"
        data-name="dgt-mid"
        d="M200,0,400,400H0Z"
        fill="#058a41"
        opacity="1"
      />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400" role="img">
      <title>A light green tree</title>
      <path
        id="lgt-right"
        data-name="lgt-right"
        d="M200,0,400,400H0Z"
        fill="#8CC7A6"
        opacity="1"
      />
    </svg>
  </div>
  <div id="sun--container">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 753 747" role="img">
      <title>An orange-red sunrise</title>
      <ellipse
        id="sunsrise"
        data-name="sunrise"
        cx="376.5"
        cy="373.5"
        rx="376.5"
        ry="373.5"
        fill="#F1A2B4"
        opacity="1"
      />
    </svg>
  </div>
</div>
